<form action="/api/<%= VERSION %>/user/login" method="post">
  <input placeholder="Email" type="email" required name="email" autocomplete="username" />
  <br />
  <input placeholder="Password" type="password" required name="password" />
  <br />
  <button type="submit">Login</button>
</form>
